<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dice Roller</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="grid">
        <div class="grid__header">
          <span class="grid__cell grid__cell--label grid__cell--centered">Die</span>
          <span class="grid__cell grid__cell--label grid__cell--centered">#</span>
          <span class="grid__cell grid__cell--label grid__cell--centered">Modifier</span>
          <span
            class="grid__cell grid__cell--label grid__cell--centered"
            title="Sum of natural dice rolls"
          >
            Nat.
          </span>
          <span class="grid__cell grid__cell--label grid__cell--centered">Final</span>
        </div>

        <roller-row
          v-for="(roller, index) in rollerList"
          :key="index"
          :roller="roller"
          @reroll="onReRoll"
        />
      </div>

      <footer class="footer">
        Dice Roller | Created by <a class="link" href="https://williamhuster.com">William Huster</a>
      </footer>

      <div aria-live="assertive" style="position: fixed; width: 0; height: 0; left: -1000px;">
        <p v-if="lastResult">
          Rolled {{ lastResult.number }} {{ lastResult.name }}
          with a {{ lastResult.modifier > 0 ? 'plus' : '' }} {{ lastResult.modifier }} modifier,
          Natural Result: {{ lastResult.value }},
          Modified Result: {{ lastResult.modifiedValue }}
        </p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.min.js"></script>

  <script type="text/x-template" id="RollerRowTemplate">
    <div class="grid__row">
      <span class="grid__cell grid__cell--centered">
        <button
          class="button"
          @click="() => this.$emit('reroll', roller.roll())"
          :aria-label="`Click to roll ${roller.name}`"
        >
          <div
            class="icon"
            :class="{
              'icon--d4': roller.name === 'D4',
              'icon--d6': roller.name === 'D6',
              'icon--d8': roller.name === 'D8',
              'icon--d10': roller.name === 'D10',
              'icon--d12': roller.name === 'D12',
              'icon--d20': roller.name === 'D20',
              'icon--d100': roller.name === 'D100',
              'icon--rolling': roller.rolling === true,
            }"
          ></div>
        </button>
      </span>
      <span class="grid__cell grid__cell--input grid__cell--centered">
        <input
          type="number" step="1"
          class="input"
          v-model="roller.number"
          :aria-label="`Input the number of ${roller.name} dice to roll.`"
        >
      </span>
      <span class="grid__cell grid__cell--input grid__cell--centered">
        <input
          type="number" step="1"
          class="input"
          v-model="roller.modifier"
          :aria-label="`Input the modifier for ${roller.name} dice rolls.`"
        >
      </span>
      <span
        class="grid__cell grid__cell--centered grid__cell--number"
        :aria-label="`This is the total of all ${roller.name} dice rolls.`"
      >
        <span>{{ roller.value }}</span>
      </span>
      <span
        class="grid__cell grid__cell--centered grid__cell--number-emphasis"
        :aria-label="`This is the ${roller.name} final result after adding modifiers.`"
      >
        {{ roller.modifiedValue }}
      </span>
    </div>
  </script>

  <script src="main.js"></script>
</body>
</html>